@import "src/styles.scss";

.input {
  width: 585px;
  height: 40px;
  border: 1px solid $decoratecolor2;
  box-sizing: border-box;
  background-color: white;
  color: $maincolor;
  padding: 10px 10px;
  font-size: 13px;

  &:hover {
    border: 0.5px solid $decoratecolor1;
    box-sizing: border-box;
    background-color: white;
  }

  &:active {
    border: 0.5px solid $decoratecolor1;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 600px) {
  .input {
    width: 250px;
  }
}
